In [13]:
import re

In [14]:
# Extracting files from reut2-020.sgm and cleaning the files by removing tags and special characters

counter = 1;
fileName = "./articles/myfile_second_" + str(counter) + ".txt"

isFound = False

with open('reut2-020.sgm') as fp:
    
    for line in fp:
        if isFound:           
            if not re.search('</TEXT>', line):
                line = re.sub("<[^<>]+>", " ", line) #to remove tags
                line = re.sub('[^A-Za-z0-9 ]+', '', line)  #to remove special characters
                line = re.sub('Reuter',"", line) #to remove 'Reuter' key word appearing at the end of each document
                fp1.write(line.strip()) #to trim each line before adding to the file to remove whitespaces around it
                fp1.write('\n')
            else:
                isFound = False
                fp1.close()
                counter += 1
                fileName = "./articles/myfile_second_" + str(counter) + ".txt"
                
        else:            
            if re.search('<TEXT.*', line):
                isFound = True
                fp1 = open(fileName, "a")                
    
fp.close()

In [15]:
# Extracting files from reut2-021.sgm and cleaning the files by removing tags and special characters

isFound = False

with open('reut2-021.sgm') as fp:
    
    for line in fp:
        if isFound:         
            if not re.search('</TEXT>', line):
                line = re.sub("<[^<>]+>", " ", line) #to remove tags
                line = re.sub('[^A-Za-z0-9 ]+', '', line)  #to remove special characters
                line = re.sub('Reuter',"", line) #to remove 'Reuter' key word appearing at the end of each document
                fp1.write(line.strip()) #to trim each line before adding to the file to remove whitespaces around it
                fp1.write('\n')
            else:
                isFound = False
                fp1.close()
                counter += 1
                fileName = "./articles/myfile" + str(counter) + ".txt"
                
        else:            
            if re.search('<TEXT.*', line):
                isFound = True
                fp1 = open(fileName, "a")                
    
fp.close()

In [16]:
# looping through all the 1578 files in the articles folder to use the search query “Canada”, “Halifax”, “Nova Scotia”, 
# and search in how many documents these words have appeared.

import pandas as pd
import math
import os
    
path = './articles/'

canada_count = 0
halifax_count = 0
ns_count = 0

df_canada = pd.DataFrame(columns=['Canada appeared in documents', 'Total Words (m)', 
                                  'Frequency (f)','Relative frequency(f/m)'])
article_count = 0

for file in os.listdir(path):
    canada_count_in_article = 0
    with open(os.path.join('./articles/',file)) as fp:        
        content = fp.read()        
        total_words = content.split()        
        list_words_file = re.split('(?<!nova)\s+', content)
        list_words_file_lowercase = [x.lower() for x in list_words_file]        
        if 'canada' in list_words_file_lowercase:
            canada_count += 1            
        if 'halifax' in list_words_file_lowercase:
            halifax_count += 1
        if 'nova scotia' in list_words_file_lowercase:
            ns_count += 1
               
        for word in list_words_file_lowercase:
            if word == 'canada':
                canada_count_in_article += 1
                
        fp.close()
    df_canada.loc[article_count] = [file, len(total_words), canada_count_in_article, canada_count_in_article/len(total_words)]
    article_count += 1
        

df = pd.DataFrame(columns=['Search Query', 'Document containing term(df)', 
                           'Total Documents(N)/ number of documents term appeared (df)', 'Log10(N/df)'])

df.loc[0] = ['Canada', canada_count, '1578/' + str(canada_count), math.log((1578/canada_count), 10)]
df.loc[1] = ['Halifax', halifax_count, '1578/' + str(halifax_count), 'NA']
df.loc[2] = ['Nova Scotia', ns_count, '1578/' + str(ns_count), 'NA']

In [17]:
# use the search query “Canada”, “Halifax”, “Nova Scotia”, and search in how many documents these words have appeared.
# printing the dataframe
df

,Search Query,Document containing term(df),Total Documents(N)/ number of documents term appeared (df),Log10(N/df)
0,Canada,27,1578/27,1.76674
1,Halifax,0,1578/0,NA
2,Nova Scotia,0,1578/0,NA

In [18]:
# export output to csv
df.to_csv("semantic_output_8b.csv", encoding='utf-8', index=False)

In [19]:
#printing all documents with their frequencies
df_canada

,Canada appeared in documents,Total Words (m),Frequency (f),Relative frequency(f/m)
0,myfile1002.txt,1374,0,0.000000
1,myfile1003.txt,51,0,0.000000
2,myfile1004.txt,738,9,0.012195
3,myfile1005.txt,258,6,0.023256
4,myfile1006.txt,1392,0,0.000000
5,myfile1007.txt,192,0,0.000000
6,myfile1008.txt,51,0,0.000000
7,myfile1009.txt,201,0,0.000000
8,myfile1010.txt,174,0,0.000000
9,myfile1011.txt,75,0,0.000000
10,myfile1012.txt,129,0,0.000000
11,myfile1013.txt,1206,0,0.000000
12,myfile1014.txt,144,0,0.000000
13,myfile1015.txt,285,0,0.000000
14,myfile1016.txt,165,0,0.000000
15,myfile1017.txt,168,0,0.000000
16,myfile1018.txt,309,0,0.000000
17,myfile1019.txt,324,0,0.000000
18,myfile1020.txt,333,0,0.000000
19,myfile1021.txt,42,0,0.000000
20,myfile1022.txt,123,0,0.000000
21,myfile1023.txt,288,0,0.000000
22,myfile1024.txt,264,0,0.000000
23,myfile1025.txt,42,0,0.000000
24,myfile1026.txt,78,0,0.000000
25,myfile1027.txt,168,0,0.000000
26,myfile1028.txt,291,0,0.000000
27,myfile1029.txt,240,0,0.000000
28,myfile1030.txt,342,0,0.000000
29,myfile1031.txt,288,0,0.000000
...,...,...,...,...
1548,myfile_second_972.txt,372,0,0.000000
1549,myfile_second_973.txt,201,0,0.000000
1550,myfile_second_974.txt,135,0,0.000000
1551,myfile_second_975.txt,204,0,0.000000
1552,myfile_second_976.txt,270,0,0.000000
1553,myfile_second_977.txt,261,0,0.000000
1554,myfile_second_978.txt,249,0,0.000000
1555,myfile_second_979.txt,126,0,0.000000
1556,myfile_second_98.txt,45,0,0.000000
1557,myfile_second_980.txt,33,0,0.000000
1558,myfile_second_981.txt,573,0,0.000000
1559,myfile_second_982.txt,366,0,0.000000
1560,myfile_second_983.txt,99,0,0.000000
1561,myfile_second_984.txt,165,0,0.000000
1562,myfile_second_985.txt,369,0,0.000000
1563,myfile_second_986.txt,459,3,0.006536
1564,myfile_second_987.txt,651,0,0.000000
1565,myfile_second_988.txt,249,0,0.000000
1566,myfile_second_989.txt,648,0,0.000000
1567,myfile_second_99.txt,891,0,0.000000
1568,myfile_second_990.txt,225,0,0.000000
1569,myfile_second_991.txt,531,0,0.000000
1570,myfile_second_992.txt,126,0,0.000000
1571,myfile_second_993.txt,81,0,0.000000
1572,myfile_second_994.txt,387,0,0.000000
1573,myfile_second_995.txt,48,0,0.000000
1574,myfile_second_996.txt,57,0,0.000000
1575,myfile_second_997.txt,45,0,0.000000
1576,myfile_second_998.txt,237,0,0.000000
1577,myfile_second_999.txt,648,0,0.000000

In [20]:
#printing only those documents that contain the word "Canada" 
dfreq = df_canada[df_canada['Frequency (f)'] > 0]
dfreq

,Canada appeared in documents,Total Words (m),Frequency (f),Relative frequency(f/m)
2,myfile1004.txt,738,9,0.012195
3,myfile1005.txt,258,6,0.023256
54,myfile1056.txt,54,3,0.055556
122,myfile1124.txt,45,3,0.066667
259,myfile1261.txt,402,6,0.014925
304,myfile1306.txt,234,3,0.012821
331,myfile1333.txt,663,3,0.004525
336,myfile1338.txt,330,6,0.018182
339,myfile1341.txt,336,6,0.017857
511,myfile1513.txt,225,6,0.026667
540,myfile1542.txt,1932,3,0.001553
748,myfile_second_251.txt,81,3,0.037037
782,myfile_second_282.txt,525,3,0.005714
841,myfile_second_335.txt,1077,3,0.002786
860,myfile_second_352.txt,303,9,0.029703
879,myfile_second_37.txt,297,3,0.010101
926,myfile_second_411.txt,546,12,0.021978
971,myfile_second_452.txt,537,9,0.016760
1025,myfile_second_500.txt,1923,3,0.001560
1037,myfile_second_511.txt,1224,6,0.004902
1047,myfile_second_520.txt,48,3,0.062500
1106,myfile_second_574.txt,42,3,0.071429
1253,myfile_second_706.txt,435,3,0.006897
1316,myfile_second_763.txt,258,3,0.011628
1389,myfile_second_829.txt,558,6,0.010753
1429,myfile_second_865.txt,1272,3,0.002358
1563,myfile_second_986.txt,459,3,0.006536

In [21]:
# export output to csv
df_canada.to_csv("semantic_output_8c.csv", encoding='utf-8', index=False)

# 8.c. to find which document has the highest occurrence of the word “Canada”.

In [22]:
# to find which document has the highest occurrence of the word “Canada”.

df_canada.loc[df_canada['Frequency (f)'] == df_canada['Frequency (f)'].max()]['Canada appeared in documents']

926    myfile_second_411.txt
Name: Canada appeared in documents, dtype: object

# 8.d. to print the news article, which has the highest relative frequency(f/m).

In [23]:
# to print the news article, which has the highest relative frequency(f/m).

df_canada.loc[df_canada['Relative frequency(f/m)'] == df_canada['Relative frequency(f/m)'].max()]['Canada appeared in documents']

1106    myfile_second_574.txt
Name: Canada appeared in documents, dtype: object

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
new_message = ['Hey lets go get a drink tonight','Hello']
new_dtm = vectorizer.fit_transform(new_message)
pd.DataFrame(new_dtm.toarray(), columns=vectorizer.get_feature_names())

      drink       get        go  hello       hey      lets   tonight
0  0.408248  0.408248  0.408248    0.0  0.408248  0.408248  0.408248
1  0.000000  0.000000  0.000000    1.0  0.000000  0.000000  0.000000